body {
  text-align: center;
}

h1, h2, h3 {
  font-family: "Montserrat";
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Homepage */
.icon {
  max-width: 130px;
  max-height: 130px;
  margin-bottom: 1rem;
}


#profile-picture {
  width: 170px;
  border-radius: 10%;
  margin-top: 1rem;
  margin-bottom: 4.5rem;
}

/* Artworks */
.ArtworksImages {
  max-width: 340px;
  max-height: 340px;
  margin-bottom: 2rem;
}

/* headings */
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}


/* Containers */
.container-fluid {
  padding: 5% 15%;
}

#title .container-fluid {
    padding: 3% 15% 3%;
    text-align: left;
  }

.feature-box {
  padding: 2%;
  text-align: center;
}

/* Sections */
.coloured-section {
  background-color: #f8aa27;
  color: #fff;
}

.light-coloured-section {
  background-color: #fff8cd;
}

.white-section {
  background-color: #fff;
}

@media (prefers-color-scheme: dark) {
  .coloured-section {
    background-color: #021637;
    color: #fff;
  }
  .light-coloured-section {
    background-color: #04317E;
    color: #fff;
  }
  .white-section {
    background-color: #064ABB;
    color: #fff;
  }
}


/* Navigation Bar */
.navbar {
  padding-bottom: 1rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-size: 1.2rem;
}
