body {
  text-align: center;
}

h1, h2, h3 {
  font-family: "Montserrat";
}

h2 {
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Homepage */
.icon {
  max-width: 130px;
  max-height: 130px;
  margin-bottom: 1rem;
}

#profile-picture {
  width: 170px;
  border-radius: 10%;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

/* Artworks */
.ArtworksImages {
  max-width: 340px;
  max-height: 340px;
  margin-bottom: 2rem;
}

.Sketch-images {
  max-width: 340px;
  max-height: 340px;
  margin-bottom: 2rem;
}

@media (min-width: 680px) {
  .Sketch-images {
    max-width: 440px;
    margin-bottom: 2rem;
  }
}

@media (min-width: 920px) {
  .Sketch-images {
    max-width: 660px;
    margin-bottom: 2rem;
  }
}

#Venice {
  margin-top: 6rem;
}

/* headings */
.big-heading {
  font-size: 3rem;
  line-height: 1.5;
}


/* Containers */
.container-fluid {
  padding: 5% 15%;
}

#title .container-fluid {
    padding: 3% 15% 3%;
    text-align: left;
  }

.feature-box {
  padding: 2%;
  text-align: center;
}

/* Sections */
.coloured-section {
  background-color: #f8aa27;
  color: #fff;
}

.light-coloured-section {
  background-color: #fff8cd;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */
.navbar {
  padding-bottom: 1rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 10px;
}

.nav-link {
  font-size: 1.2rem;
}

/* Drum Kit */
.w {
  background-image: url("drum-images/tom1.png");
}

.a {
  background-image: url("drum-images/tom2.png");
}

.s {
  background-image: url("drum-images/tom3.png");
}

.d {
  background-image: url("drum-images/tom4.png");
}

.j {
  background-image: url("drum-images/snare.png");
}

.k {
  background-image: url("drum-images/crash.png");
}

.l {
  background-image: url("drum-images/kick.png");
}

.set {
  margin: 10% auto;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: "Arvo", serif;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}
